.copyright {
  background-color: #000;
  padding: 80px 0;
  @media only screen and (max-width: 1024px) {
    padding: 40px 0;
  }
  @media only screen and (max-width: 768px) {
    padding: 20px 0;
  }
  @media only screen and (max-width: 428px) {
    padding: 10px 0;
  }
  &__wrapper {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    @media only screen and (max-width: 1024px) {
      font-size: 16px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
    @media only screen and (max-width: 428px) {
      font-size: 12px;
    }
  }
  &__icons {
    @include flex(center, space-between);
    @media only screen and (max-width: 768px) {
      justify-content: end;
    }
    img {
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
    .icons {
      @include flex(center, flex-start);
      gap: 18px;
      
      div {
        @include flex(center, center);
        padding: 8px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ffffff2e;
      }
    }
  }
  &__line {
    margin: 20px 0;
    width: 100%;
    border: 6px 0px 0px 0px;
    border: 6px solid #509775;
  }
  &__contact {
    @include flex();
    gap: 30px;
    flex-direction: column;

    .item {
      @include flex(flex-start, flex-start);
      gap: 20px;
      flex-wrap: wrap;
      @media only screen and (max-width: 1024px) {
        gap: 16px;
      }
      @media only screen and (max-width: 768px) {
        gap: 12px;
      }
      @media only screen and (max-width: 428px) {
        gap: 6px;
      }
      p {
        width: calc(25% - 20px);
        @media only screen and (max-width: 768px) {
          width: calc(50% - 20px);
        }
        @media only screen and (max-width: 428px) {
          width: 100%;
        }
      }
    }
    .item2 {
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  .title {
    @include flex(center, center);
    margin-top: 30px;
  }
}
