* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: black;
    border-radius: 8px;
  }
}

html,
body,
#root {
  height: 100%;
  font-family: sans-serif;
}

#root {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
a {
  color: inherit;
  text-decoration: none;
}

li,
ul,
ol {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1420px;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}

.banner {
  background-image: url("/header/header.jpg");
  background-position: center;
  background-size: cover;
  height: 840px;
}
