.signUp {
    width: 100%;
    height: 100%;
    background-image: url(/SignUp.jpg);
    background-size: cover;
    background-position: center;
    @include flex(center, center);
    &__wrapper {
        #id {
            background: linear-gradient(88.97deg, #959799 -5.98%, rgba(149, 151, 153, 0) 120.48%);

        }
    }
}